body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  }

  #form{
    display: none;
  }

  #loading{
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    text-align:center;
    margin: 1rem;
    border: 1px solid gray;
  }
  
  @media screen and (min-width: 600px) {
    .card {
       flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }

  .card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
  }

  .hour{
    /* min-width: 90px; */
    width: 25%;
    text-align : center;
    font-weight : bold;
    font-size: x-large;
  }
  
  /* body{
    font-family: "Helvetica", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    background-color: "FFC72C";
  } */
  
  .hour, .minute{
    font-family: Lucida Console, monospace; 
  }